#graphContainer {
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #1d1d1d;
}

#packageInput{
    background-color: #414141;
    border: #717171;
    color: #e1e1e1;
}

label{
    color: #e1e1e1;
}

html,
body,
canvas,
#graphContainer {
    width: 100%;
    height: 100%;
}

#ErrorMessageBox{
    margin-left: 2em;
    color: #800100;
}